@import "../../fonts/font.css";
@import "config/variables";
@import "config/placeholders";

@import "~bootstrap/scss/bootstrap";

@import "base/body";
@import "base/btn";
@import "base/section";
@import "base/layout";

@import "modules/menu";
@import "modules/forms";
@import "modules/modal";

@import "layout/header";
@import "layout/intro";
@import "layout/for-who";
@import "layout/program";
@import "layout/speakers";
@import "layout/singup";
@import "layout/contacts";
@import "layout/footer";
@import "layout/certificate";
@import "layout/feedback";

@import "layout/thanks-page";